{
    "DEVELOPMENT": {
        "BOT_TOKEN": "TOKEN",
        "MYSQL": {
            "HOST": "localhost",
            "PORT": "3306",
            "USER": "root",
            "PASSWORD": "password",
            "DATABASE": "hamal_updates"
        },
        "ACTIVITY": "Testing..."
    },
    "PRODUCTION": {
        "BOT_TOKEN": "TOKEN",
        "MYSQL": {
            "HOST": "production ip",
            "PORT": "3306",
            "USER": "root",
            "PASSWORD": "password",
            "DATABASE": "hamal_updates"
        },
        "ACTIVITY": "&help || by nktfh100"
    }
}